<section>
<ul>
    <% (1..5).each do |item| %>
     <li>
        <div class="profil"><div>
        <div class="user">
            <h2>User name</h2> 
            <p>Number of poste: 20</p>
        </div>
    </li>
    <% end %>

</ul>

</section>