@import 'bootstrap/scss/bootstrap';

.user {
  width: 80%;
  height: 100px;
}

.list-users {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.show_user {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  padding: 5rem 20rem;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  h5 {
    font-size: 13px;

    span {
      font-weight: normal;
    }
  }
}

.show_user_posts {
  padding: 5rem 20rem;

  .post {
    margin-bottom: 50px;
  }
}

.post-border {
  border: solid 1px #5a5959cb;
  padding: 10px;
}

.post-details {
  position: relative;
}

.comment-num {
  font-size: 12px;
  color: #5a5959cb;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
